# FRONTEND (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/

# BACKEND (Python)
backend/__pycache__/
backend/venv/
backend/.venv/
*.pyc

# Variáveis de ambiente
.env
backend/.env

# Sistema operacional
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log